// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// KRICKET COLOR SCHEME
$text-primary: #EAEAEA;
$text-secondary: #212121;
$background: #31413A;
$button-primary: #CE4B56;
$button-secondary: #52727B;
$kricket-text: #CE4B56;
$slider: #CE4B56;
$icons: #EAEAEA;
