// BASE AVATAR
.avatar {
  display: inline-block;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

// SIZE VARIANTS
.avatar--sm {
  width: 32px;
}

.avatar--md {
  width: 40px;
}

.avatar--lg {
  width: 56px;
}

.avatar--xl {
  width: 80px;
}
