/* MAIN HOMEPAGE GLASS */
.glass-wrapper {
  // flex-grow: 1;
  position: relative;        /* not fixed */
  width: 90%;
  max-width: 90%;

  margin: 2rem auto;         /* ← centers horizontally */
  // border-radius: 32px;
  // overflow: hidden;

  display: flex;             /* center the inside */
  justify-content: center;
  align-items: center;

  // z-index: 10;
}

/* WebGL canvas for liquidGL */
.glass-wrapper .glass-blob {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: transparent !important;
  // z-index: 1;
}

/* Content inside the glass */
.glass-wrapper .glass-content {
  position: relative;
  z-index: 2;
  padding: 2rem 1.4rem;
  text-align: center;
}

.glass-content {
  padding: 1.5rem 1rem;
  width: 100%;
}
