/* MAIN HOMEPAGE GLASS */
.glass-wrapper {
  position: fixed;
  top: 53%;  /* adjust to taste */
  left: 50%;
  transform: translate(-50%, -50%);

  width: 86%;
  max-width: 360px;

  border-radius: 32px;
  overflow: hidden;

  pointer-events: none; /* non-interactive glass */
  z-index: 10;
}

/* WebGL canvas for liquidGL */
.glass-wrapper .glass-blob {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: transparent !important;
  // z-index: 1;
}

/* Content inside the glass */
.glass-wrapper .glass-content {
  position: relative;
  z-index: 2;
  padding: 2rem 1.4rem;
  text-align: center;
}
