
.screen-wrapper {
  // background: transparent !important;
  background-image: image-url("kricket-bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.go-button {
  box-shadow: 0 5px 12px rgba(0,0,0,0.35);
}

.mode-toggle {
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.mode-toggle-wrapper {
  margin-top: 0.6rem;
}


.kricket-page-history {
  background: white;
  color: #444;
}

.kricket-page-history .navbar-title,
.kricket-page-history .navbar-back i,
.kricket-page-history .navbar-right-icon i {
  color: #222;
}

.history-item {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

.page-content {
  width: 100%;
  max-width: 360px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.8rem;              /* evenly spaced elements */
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;  /* gives space for bottom */

  position: relative;
  z-index: 50;             /* ABOVE the floating glass */
}
