.navbar-lewagon {
  padding: 10px 12px;
}

.navbar-mobile {
  padding-left: 5px;
  padding-right: 5px;
}

// Center title
.navbar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #f7635c;
}
