.mode-toggle-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.mode-toggle {
  display: inline-flex;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 0 0 1px #dee2e6;
}

.mode-toggle__btn {
  min-width: 100px;
  padding: 0 30px;
  height: 30px;
  border: none;
  outline: none;
  font-size: 0.7rem;
  font-weight: 500;
  cursor: pointer;
  background: #ffffff;
  color: #495057;
}

.mode-toggle__btn--left {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.mode-toggle__btn--right {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.mode-toggle__btn--active {
  background: #212529;
  color: #ffffff;
  box-shadow: inset 0 0 0 1px #212529;
}
